body {
	padding-top: 70px;
}

h1, h2 {
	margin: 0;
	padding: 0;
	display: inline-block;
}

.active a {
	font-weight: bold;
}

.page-header {

	

	.edit-btn, .delete-btn {
		display: inline-block;
		margin-left: 10px;
		margin-bottom: 10px;
	}
}